.navbar-nav{
    margin-left: auto;
}
.text-center{
    font-style: italic;
    font-weight: bold;
    font-family: 'Stick', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}